<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<p>
				<span style="font-size: x-large">Rockford Lhotka</span><br/>
				<span style="font-size: x-small">CTO at Magenic, creator of CSLA .NET, author, speaker</span>
			</p>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="https://about.me/rockfordlhotka">About</a></li>
	        		<li><a href="https://magenic.com">Magenic</a></li>
		        	<li><a href="https://cslanet.com">CSLA .NET</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/rockfordlhotka">github.com/rockfordlhotka</a></li>
				</ul>
			</footer>
		</body>
	</html>
